nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 99%;
    border: 1px solid black;
    background-color: #3f9142;
    @media @phone {
        flex-flow: column wrap;
        align-items: center;
    }
    a {
        width: 33%;
        text-align: center;
        margin: 2% 0% 1.4% 0%;
        text-decoration: none;
        color: white;
        background-color: #a3d9a5;
        border-radius: 4%;
    }
}
.name-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 99%;
    .company-name {
        font-size: 235%;
        font-family: 'Satisfy', cursive;
        margin: 0 auto;
        color: #51279b;
    }
}
